---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";
import { getPosts, getTagsPosts } from "../../scripts/fetcher";

export async function getStaticPaths() {
  // Get all the tags from all the posts
  // We need to do this because we don't know what tags are available
  const allPosts = await getPosts(10);
  const uniqueTags = [
    ...new Set(
      allPosts.publication.posts.edges
        .map((post) => post.node.tags.map((tag) => tag.slug))
        .flat()
    ),
  ];

  // Get the paths we want to pre-render based on tags
  const paths = await Promise.all(
    uniqueTags.map(async (tag) => {
      const tagPosts = await getTagsPosts(tag, 10);
      return {
        params: { tag },
        props: { posts: tagPosts.publication.posts.edges },
      };
    })
  );

  return paths;
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => <BlogPostCard post={post} />)}
  </ul>
</BaseLayout>
