---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getPosts } from "../../scripts/fetcher";
const allPosts = await getPosts();
const tags = [
  ...new Set(
    allPosts.publication.posts.edges
      .map((post) => post.node.tags.map((tag) => tag.slug))
      .flat()
  ),
];
console.log(tags);
const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>

<script>
  import { getPosts } from "../../scripts/fetcher";

  console.log(await getPosts());
</script>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
