---
// FIXME the tags come as an object with a slug and a name
//       but the slug and name dont always match up so we need to
//       use the name for the link but the slug for the page
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getAllPosts } from "../../scripts/getAllPosts";

const allPosts = await getAllPosts();
const tags = [
  ...new Set(
    allPosts.publication.posts.edges
      .map((post) => post.node.tags.map((tag) => tag.slug))
      .flat()
  ),
];

const pageTitle = "Tag Index";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="tags">
    {
      tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
