---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getAllPosts } from "../scripts/fetcher";

const latestPosts = await getAllPosts();
const pageTitle = latestPosts.publication.title;
const postsArr = [...latestPosts.publication.posts.edges];
---

<BaseLayout pageTitle={pageTitle}>
  <ul>
    {
      postsArr.map((post) => {
        return <li>{post.node.title}</li>;
      })
    }
  </ul>
</BaseLayout>

<script>
  import { getAllPosts } from "../scripts/fetcher";

  console.log(await getAllPosts());
</script>
