<div class="flex justify-around font-sans my-3 md:justify-center">
  <a class="md:px-8" href="/">Home</a>
  <a class="md:px-8" href="/about/">About</a>
  <a class="md:px-8" href="/tags/">Tags</a>
</div>
